//
//  {{class_name}}.swift
//
//  Created by {{dev_name}} on {{date}}.
//
//

import UIKit

class {{class_name}}: UIViewController {
    init() {
        super.init(nibName: nil, bundle: nil)
    }

    required init(coder aDecoder: NSCoder) {
        super.init(coder: aDecoder)
    }
}