//
//  {{class_name}}.swift
//
//  Created by <# Developer Name #> on {{date}}.
//
//


class {{class_name}} {

    static let shared: {{class_name}}

    private init(_ shared: {{class_name}} = {{class_name}}()) {
    	self.shared = shared
    }

}